
#modalBuyCarrito{
    .tarjeta{
        width: 100%;
        max-width: 550px;
        position: relative;
        color: #fff;
        transition: .3s ease all;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        cursor: pointer;
        z-index: 2;

        &.active{
            .tarjeta__delantera{
                transform: rotateY(180deg);
            }

            .tarjeta__trasera{
                transform: rotateY(0deg);

            }
        }
       
        .tarjeta__delantera{

            width: 100%;
            background: url('../img/bg-tarjeta-02.jpg');
            background-size: cover;

            padding:  30px;
            border-radius: 15px;
            min-height: 315px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: .3s ease all;

            .marca__logo{
                text-align: right;
                min-height: 50px ;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-width: 80px;   
                }
            }

            .tarjeta__chip{
                width: 100%;
                max-width: 50px;
                margin-bottom: 20px;
            }

            .tarjeta__text{
                color: #fff;
                font-size: 22px;
                text-transform: uppercase;
            }

            .tarjeta__label{
                font-size: 16px;
                color: #7d8994;
                margin-bottom: 5px;
            }
        
        }

        .tarjeta__trasera{
            padding:  30px;
            border-radius: 15px;
            min-height: 315px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: .3s ease all;
            background: url('../img/bg-tarjeta-02.jpg');
            background-size: cover;
            position: absolute;
            top: 0;
            transform: rotateY(180deg);
            /* Este estilo hace que la parte de atras del componente no se vea */
            backface-visibility: hidden;

            .tarjeta__barra__magnetica{
                height: 40px;
                background-color: #000;
                width: 100%;
                position: absolute;
                top: 30px;
                left: 0;
            }

            .tarjeta__datos{
                margin-top: 60px; 
                p{
                    margin-bottom: 5px;
                }

                .tarjeta__firma{
                    height: 40px;
                    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
                    p{
                        line-height: 40px;
                        font-family: 'Dancing Script', cursive;
                        color: #000;
                        font-size: 30px;
                        padding: 0 10px;
                        text-transform: capitalize;
                        font-weight: lighter;
                    }
                }

                .tarjeta__ccv{
                    background-color: #fff;
                    height: 40px;
                    color: #000;
                    padding: 10px;
                    text-align: center;
                }

                .tarjeta__texto{
                    p{
                        font-size: 14px;
                        line-height: 24px;
                    }
                    a{
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
        }
        

    }

    .btn__form__container{
        button{
            width: 50px;
            height: 50px;
            font-size: 20px;
            color: #fff;
            background-color: #2364d2;
            line-height: 20px;
            position: relative;
            top: -25px;
            z-index: 3;
            border: none;
            border-radius: 100%;
            box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
            padding: 5px;
            transition: all .2s ease;
            cursor: pointer;

            &:hover{
                background-color: #1850b1;

            }

            &.active{
                transform: rotate(45deg);
            }
        }
    }

    .tarjeta__form{
        width: 100%;
        max-width: 700px;
        padding: 150px 30px 30px 30px;
        border-radius: 10px;
        position: relative;
        top: -150px;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;

        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        .tarjeta__select{
            select{
                background-color: $color-grayBlack;
                border: $bg-dark;
                color: $color-gray;
            }
        }
    }
}