@import '../base/base';

#modalItem{
    .modal-content{
        .modal-header{
            button{
                background-color: $color-gray;
            }
        }

        .modal-body{
            @media (min-width: 992px) {
                padding: 0 $p-5 ;
            }
            @extend %scrollBar;

            

            .modal__body{
                

                h6{
                    color: $color-gray;
                    text-align: center;
                    font-size: $h3-font-size;
                    margin: $m-3 0;
                }
 
                img{
                    width: 100%;
                    margin-bottom: $m-3;
                    border-radius: 20px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    max-height: 450px;
                    object-fit: cover;
                }

                p{
                    color: $color-gray;
                    font-size: $h6-font-size;
                    text-align: center;
                    margin: $m-2 0;
                }

                .modal__text{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                }

                .modal__bottom{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .category{
                        span{
                            color: $color-blue;
                        }
                    }
    
                    .price{
                        span{
                            color: green;
                        }
                    }

                }

                .modal__footer{
                    flex-direction: column;
                    input{
                        height: 30px;
                        color: $color-gray;
                        border-radius: 10px;

                    }

                    .modal__button__container{

                        button{
                            height: 30px;
                            
                            border-radius: 10px;
                            background-color: $color-grayBlack;
                            color: $color-gray;
    
                            &:hover{
                                background-color: $color-blue;
                                color: #fff;
                            }
                        }

                    }

                }

            }

            .modal__comments{
                .comments__title{
                    margin-top: $m-5 ;
                    text-align: center;
                    font-size: 20px;
                }

                .comment__container{
                    .col-12{
                        .card{
                            background-color: #171523;
                            .card-body{
                                .card-footer{
                                    .btnVerRespuestas{
                                        &:hover{
                                            color: $color-blue;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                        .containerCommnetsResponses{
                            display: none;
                            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                            transition: clip-path .3s ease-out;
                            
                            &.active{
                                display: block;
                                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            }
                        }   
                    }


                }
            }
        }
    }
}