@import '../base/base';

#pills-tutorials{
    .tutorials__header{
        .header__title{
            color: $color-gray;
            font-size: $h3-font-size;
            text-align: center;
        }
    }

    .tutorials__body{
        .tutorials__body__header{
            button{
                color: $color-gray;
                border: 1px solid $color-grayBlack;

                @media (max-width: 500px) {
                    p{
                        display: none;
                    }
                }

                &:hover{
                    background-color: $color-grayBlack;
                    border: 1px solid $color-grayBlack;
                    color: #fff;
                }

                &.active{
                    background-color: $color-blue;
                    color: #fff;
                }
            }
        }

        .tutorials__body__container{
            .swiper {
                width: 100%;
                height: 500px;

                .swiper-slide {
                    background: #171521;
                    color: $color-gray;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;

                    .swiper__step{
                        font-size: $h4-font-size;
                    }

                    .swiper__title{
                        color: $color-blue;
                        font-size: $h5-font-size;
                    }                  

                    .swiper__img{
                        img{
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }

                .swiper-pagination{
                    .swiper-pagination-progressbar-fill{
                        background-color: $color-grayBlack;
                    }
                }

                .swiper-button-next{
                    color: $color-grayBlack;
                }

                .swiper-button-prev{
                    color: $color-grayBlack;
                }
            }
        }
    }
}